.sidedrawer-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .sidedrawer-header-infos {
        margin-top: 100;
        background-color: rgba(255, 255, 255, 0.5);
        color: #000;
        font-size: 15;
        .sidedrawer-header-username {
            font-weight: 500;
        }
    }
}

.sidedrawer-content {
    background-color: #fff;
    .sidedrawer-list-item {
        padding: 15;
        Label {
            vertical-align: center;
            color: #022734;
        }
        .icon {
            width: 20;
            margin-right: 10;
        }
        &.selected {
            background-color: #F8F8F8;
            Label {
                color: #3A53FF;
            }
        }
    }
}

.active {
    background-color: rgb(18, 125, 197) !important;
}