<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column" routerLinkActive="active">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                    <i class="fa fa-home"> </i> {{"general.dashboard" | translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/assignments" routerLinkActive="active">
                    <i class="fa fa-tasks"> </i> {{"general.assignments" | translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calendar" routerLinkActive="active">
                    <i class="far fa-calendar-alt"> </i> {{"general.calendar" | translate}}
                </a>
            </li>
        </ul>
        <ng-container *ngIf="authenticationService.isAdmin()">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>{{"general.admin" | translate}}</span>
            </h6>
            <ul class="nav flex-column" routerLinkActive="active">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
                        <i class="fa fa-users"> </i> {{"general.users" | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/settings" routerLinkActive="active">
                        <i class="fa fa-cogs"> </i> {{"general.settings" | translate}}
                    </a>
                </li>
            </ul>
        </ng-container>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <a routerLink="/courses" class="text-decoration-none text-secondary">{{"general.courses" | translate}}</a>
            <a class="btn d-flex align-items-center text-muted" routerLink="/courses/new" *ngIf="authenticationService.isTeacher()">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item" *ngFor="let course of courses">
                <a class="nav-link" [routerLink]="'/courses/' + course.id" routerLinkActive="active">
                    {{course.name}}
                </a>
            </li>
        </ul>
    </div>
</nav>