<StackLayout row="0" class="sidedrawer-header fix-statusbar-margin" [backgroundImage]="remoteService.getImageUrl('users/' + (authenticationService.currentUser ? authenticationService.currentUser.id : '') + '.png', authenticationService)">
    <StackLayout class="sidedrawer-header-infos p-10">
        <Label class="sidedrawer-header-username" [text]="authenticationService.currentUser ? authenticationService.currentUser.username : ''"></Label>
        <Label class="" [text]="authenticationService.currentUser && authenticationService.currentUser.grade ?authenticationService.currentUser.grade.name : ''"></Label>
    </StackLayout>

</StackLayout>

<ScrollView row="1">
    <StackLayout class="sidedrawer-content">
        <GridLayout columns="auto, *" class="sidedrawer-list-item" [nsRouterLinkActive]="['selected']" [nsRouterLink]="['/home']" (tap)="hideDrawer()">
            <Label col="0" text="&#xf015;" class="fas icon"></Label>
            <Label col="1" [text]="'general.dashboard' | translate" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" [nsRouterLinkActive]="['selected']" nsRouterLink="chat" (tap)="hideDrawer()">
            <Label col="0" text="&#xf086;" class="far icon"></Label>
            <Label col="1" [text]="'general.chat' | translate" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" [nsRouterLinkActive]="['selected']" nsRouterLink="assignments" (tap)="hideDrawer()">
            <Label col="0" text="&#xf0ae;" class="fas icon"></Label>
            <Label col="1" [text]="'general.assignments' | translate" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" [nsRouterLinkActive]="['selected']" nsRouterLink="calendar" (tap)="hideDrawer()">
            <Label col="0" text="&#xf073;" class="far icon"></Label>
            <Label col="1" [text]="'general.calendar' | translate" class="p-r-10"></Label>
        </GridLayout>

        <StackLayout class="hr">
            <Label text="Courses"></Label>
        </StackLayout>

        <GridLayout columns="auto, *" *ngFor="let course of courses" class="sidedrawer-list-item" [nsRouterLinkActive]="['selected']" [nsRouterLink]="['courses', course.id]" (tap)="hideDrawer()">
            <Label col="0" text="&#xf02d;" class="fas icon"></Label>
            <Label col="1" [text]="course.name" class="p-r-10"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>
<!--


<ng-container *ngIf="authenticationService.isAdmin()">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>{{"general.admin" | translate}}</span>
    </h6>

    <a class="nav-link" routerLink="/admin/users" routerLinkActive="selected">
        <i class="fa fa-users"> </i> {{"general.users" | translate}}
    </a>

    <a class="nav-link" routerLink="/admin/settings" routerLinkActive="selected">
        <i class="fa fa-cogs"> </i> {{"general.settings" | translate}}
    </a>

</ng-container>

<a routerLink="/courses" class="text-decoration-none text-secondary">{{"general.courses" | translate}}</a>
<a class="invisible-btn d-flex align-items-center text-muted" routerLink="/courses/new" *ngIf="authenticationService.isTeacher()">
    <i class="fas fa-plus-circle"></i>
</a>
<ul class="nav flex-column mb-2">
    <li class="nav-item" *ngFor="let course of courses">
        <a class="nav-link" [routerLink]="'/courses/' + course.id" routerLinkActive="selected">
                    {{course.name}}
                </a>
    </li>
</ul>
</div>
</nav>
-->