.card {
    .button-bar-autohide {
        display: none;
    }
    &:hover {
        .button-bar-autohide {
            display: block;
        }
    }
    &.selectable:hover {
        background-color: rgb(233, 233, 233);
    }
}