<span class="text-muted d-block" *ngIf="!files || files.length == 0">{{"components.file-list.noFiles" | translate}}</span>

<div *ngFor="let file of files" class="card p-3">
    <div class="media">

        <app-file-icon [ext]="file.name | fileext" size="sm" class="mr-3"></app-file-icon>

        <div class="media-body">
            <h5 class="my-0">{{file.name | filename}}</h5>
            <span class="text-muted">{{file.size | filesize}}</span>
        </div>
    </div>
</div>


<div ngbDropdown class="d-inline-block" *ngIf="edit">
    <button class="btn btn-outline-primary" ngbDropdownToggle>{{"components.file-list.add" | translate}}</button>
    <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="uploadFile()">{{"components.file-list.upload" | translate}}</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem><app-file-icon ext="docx"></app-file-icon> {{"components.file-list.newDocx" | translate}}</button>
        <button ngbDropdownItem><app-file-icon ext="xlsx"></app-file-icon> {{"components.file-list.newXlsx" | translate}}</button>
        <button ngbDropdownItem><app-file-icon ext="pptx"></app-file-icon> {{"components.file-list.newPptx" | translate}}</button>
    </div>
</div>
<input type="file" #fileInput (change)="onFileSelected($event)" class="d-none">