<GridLayout rows="auto, *" class="">
    <app-navbar row="0" [title]="'general.chat' | translate" *ngIf="!currentChat"></app-navbar>
    <ListView row="1" *ngIf="!loading && chats.length > 0 && !currentChat" [items]="chats" (itemTap)="goToChat($event)">
        <ng-template let-item="item">
            <GridLayout rows="auto, auto" columns="50, *, auto">
                <Image class="" row="0" rowspan="2" col="0" [src]="getChatImageUrl(item, true)"></Image>
                <Label row="0" col="1" class="h2 p-0 m-0 m-l-5" [text]="getChatName(item)"></Label>
                <Label row="0" col="2" class="" verticalAlign="top" text="timestamp"></Label>
                <Label row="1" col="1" colspan="2" class="p-0 m-0 m-l-5" text="Last message, ..."></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    <app-full-screen-loading *ngIf="loading" row="1"></app-full-screen-loading>
    <GridLayout row="1" rows="*, auto, *">
        <Label row="1" textWrap="true" class="text-center" *ngIf="!loading && chats.length == 0 && !currentChat" [text]="'pages.chat.noChats' | translate"></Label>
    </GridLayout>
    <nativescript-squirrel-chat-ui #chat row="1" *ngIf="currentChat" (messageSent)="onMessageSent($event)" (back)="currentChat = undefined" [messages]="currentChat.messages" [title]="getOtherUserInPrivateChat(currentChat).name" [profileImageSource]="getChatImageUrl(currentChat)"></nativescript-squirrel-chat-ui>
</GridLayout>