<div class="row h-100" *ngIf="chats.length > 0 && !loading">
    <div class="col-3 p-0 h-100 overflow-auto border-right border-black-50">
        <div class="list-group list-group-flush">
            <a [routerLink]="['/', 'chat', chat.id]" class="list-group-item list-group-item-action p-2 d-flex" *ngFor="let chat of chats">
                <app-avatar class="mr-2" [chat]="chat"></app-avatar>
                <div class="flex-grow-1">
                    <div class="flex-grow-1 d-flex justify-content-between">
                        <h6 class="m-0">{{getChatName(chat)}}</h6>
                        <small>timestamp</small>
                    </div>
                    <small>Last message</small>
                </div>
            </a>
        </div>
    </div>
    <div class="col-9 px-0 h-100">
        <chat-ui
            *ngIf="currentChat"
            [subtitle]="currentChat.info"
            (audioCallClicked)="startConference(currentChat, true)"
            (videoCallClicked)="startConference(currentChat)"  
            [messages]="currentChat.messages"
            [me]="authenticationService.currentUser"
            [title]="getOtherUserInPrivateChat(currentChat).name"
            (messageSent)="onMessageSent($event)"
            [profileImageSource]="getChatImageUrl(currentChat)"
            [typingUsername]="typingUsername"
            (userTyping)="onUserTyping($event)"
        ></chat-ui>
    </div>
    <!-- (attachmentClicked)="onAttachmentClicked($event)" (audioCallClicked)="onAudioCallClicked()" (menuItemClicked)="onMenuItemClicked($event)" (messageEdited)="onMessageEdited($event)" (messageSent)="onMessageSent($event)" (reaction)="onReaction($event)"
            (videoCallClicked)="onVideoCallClicked()" [attachmentButtons]="attachmentButtons" [emojiMartOptions]="emojiMartOptions" [menuItems]="menuItems" [messages]="messages" -->
</div>
<div *ngIf="chats.length == 0 && !loading" class="h-100 d-flex justify-content-center flex-column">
    <p class="text-center">{{'pages.chat.noChats' | translate}}</p>
</div>
<app-full-page-loading *ngIf="loading"></app-full-page-loading>