<div *ngIf="!loading">
    <div class="row row-cols-2 row-cols-md-4 pt-3">
        <div class="col mb-4" *ngFor="let course of courses">
            <div class="card">
                <!--<img src="" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text">{{course.description}}<span class="text-muted" *ngIf="!course.description">{{"pages.courses.noDescriptionAvailable"| translate}}</span></p>
                    <div>
                        <span class="badge badge-warning m-1">5 assignments</span>
                        <span class="badge badge-success m-1">3 new messages</span>
                        <span class="badge badge-primary m-1">1 new file</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-full-page-loading *ngIf="loading"></app-full-page-loading>