<div class="d-flex pt-2 h-100">
    <ul ngbNav #nav="ngbNav" class="nav-pills  h-100" orientation="vertical">
        <li ngbNavItem>
            <a ngbNavLink>{{"general.general" | translate}}</a>
            <ng-template ngbNavContent>
                <div class="row h-100">
                    <div class="col-md-8 border-right border-left border-light">
                        <h2>{{"general.general" | translate}}</h2>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">{{"pages.user-settings.design" | translate}}</label>
                            <div class="col-sm-10">
                                <select class="custom-select">
                                    <option>{{"pages.user-settings.light" | translate}}</option>
                                    <option>{{"pages.user-settings.dark" | translate}}</option>
                                    <option>{{"pages.user-settings.system" | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <ng-container *ngIf="isElectron">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">{{"general.options" | translate}}</label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="autostart" [(ngModel)]="settings.autostart">
                                        <label class="custom-control-label" for="autostart">{{"pages.user-settings.autostart" | translate}}</label>
                                        <small class="form-text text-muted">{{"pages.user-settings.autostartDescription" | translate}}</small>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" [(ngModel)]="settings.startMinimized" [disabled]="settings.autostart ? null : 'disabled'" id="startMinimized">
                                        <label class="custom-control-label" for="startMinimized">{{"pages.user-settings.startMinimized" | translate}}</label>
                                        <small class="form-text text-muted">{{"pages.user-settings.startMinimizedDescription" | translate}}</small>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-md-4  h-100">
                        <div class="p-5">
                            <img class="avatar" [src]="remoteService.getImageUrl('users/' + authenticationService.currentUser.id + '.svg', authenticationService)">
                        </div>
                        <h2>{{authenticationService.currentUser.name}}</h2>
                        <small>{{authenticationService.currentUser.role}}</small>
                        <small>{{authenticationService.currentUser.grade}}</small>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>{{"general.notifications" | translate}}</a>
            <ng-template ngbNavContent>
                <div class="row h-100 border-left border-light">
                    <div class="col">
                        ToDo
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>{{"general.privacy" | translate}}</a>
            <ng-template ngbNavContent>
                <div class="row h-100 border-left border-light">
                    <div class="col">
                        <div class="custom-control custom-switch" *ngFor="let setting of privacySettings">
                            <input type="checkbox" class="custom-control-input" [id]="setting.key" [(ngModel)]="settings[setting.key]">
                            <label class="custom-control-label" [for]="setting.key">{{setting.title}}</label>
                            <small class="form-text text-muted">{{setting.description}}</small>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem *ngIf="isElectron">
            <a ngbNavLink>{{"general.devices" | translate}}</a>
            <ng-template ngbNavContent>
                <div class="row h-100 border-left border-light">
                    <div class="col">
                        ToDo
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>{{"general.about" | translate}}</a>
            <ng-template ngbNavContent>
                <div class="row h-100 border-left border-light">
                    <div class="col">
                        ToDo
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>