<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 app-region-drag" href="#">SchoolSquirrel</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input type="text" #actionInput (selectItem)="itemSelected($event)" (focus)="inputFocused = true; openTypeahead(actionInput)" (blur)="inputFocused = false" [placeholder]="(inputFocused ? 'components.navbar.actions.info' : 'components.navbar.actions.placeholder') | translate"
        class="form-control form-control-dark col-md-6 col-lg-8" [(ngModel)]="actionValue" [ngbTypeahead]="action" [resultTemplate]="rt" />

    <ng-template #rt let-r="result" let-t="term">
        <div class="row py-1" [style.width]="typeaheadWidth + 'px'">
            <div *ngIf="r.isUser">
                <img [src]="r.img" class="avatar" alt="Image">
            </div>
            <div class="col" [class.ml-4]="!r.isUser" [class.ml-0]="r.isUser">
                <ngb-highlight class="d-block" [result]="r.name" [term]="removeSpecialChars(t)"></ngb-highlight>
                <small class="d-block subtitle text-muted">{{r.subtitle}}</small>
            </div>
            <div class="col text-right text-secondary">{{r.description}}</div>
        </div>
    </ng-template>

    <ul class="navbar nav dark p-0 col-md-3 col-lg-2 flex-nowrap m-0 d-flex justify-content-end app-region-drag">
        <li class="nav-item text-nowrap app-region-no-drag">
            <a class="nav-link" routerLink="" (click)="authenticationService.logout()" [title]="'general.logout' | translate"><i class="fas fa-sign-out-alt"></i></a>
        </li>
        <ng-container *ngIf="isElectron">
            <li class="nav-item app-region-no-drag text-nowrap app-region-no-drag">
                <a class="nav-link wi minimize" (click)="minWindow()">
                    <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23fff'/%3E%3C/svg%3E">
                </a>
            </li>

            <li class="nav-item app-region-no-drag text-nowrap app-region-no-drag">
                <a class="nav-link wi maximize" (click)="maxWindow()">
                    <img *ngIf="isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23fff'/%3E%3C/svg%3E">
                    <img *ngIf="!isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23fff'/%3E%3C/svg%3E">
                </a>
            </li>

            <li class="nav-item app-region-no-drag text-nowrap app-region-no-drag">
                <a class="nav-link wi close" (click)="closeWindow()">
                    <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23fff'/%3E%3C/svg%3E">
                </a>
            </li>
        </ng-container>
    </ul>
</nav>