@import "../../../variables.scss";
.nt-action-bar {
    background-color: $white;
    color: $black;
    * {
        color: $dark;
    }
}

.text-white {
    color: $white;
}

.icon {
    font-size: 20;
}

.headline {
    font-size: 20;
    font-weight: 500;
}