.nt-action-bar {
    background-color: #ffffff;
    color: #000000;
}

.text-white {
    color: #ffffff;
}

.icon {
    font-size: 20;
}

.headline {
    font-size: 20;
    font-weight: 500;
}