.nt-action-bar {
    background-color: #1a89c9;
    color: #ffffff;
}

.btn-invisible {
    border-color: transparent;
    background: #1a89c9;
    border-width: 1;
}

.text-white {
    color: #ffffff;
}

.icon {
    font-size: 20;
}

.headline {
    font-size: 20;
    font-weight: 500;
}