<div class="progress my-3">
    <div class="progress-bar bg-danger" role="progressbar" [style.width]="assignment.submissionsMissing.length / assignment.course.students.length * 100 + '%'">
        Nicht abgegeben
        <span class="appear"><br>({{assignment.submissionsMissing.length}} von {{assignment.course.students.length}} Schülern)</span>
    </div>
    <div class="progress-bar bg-warning" role="progressbar" [style.width]="(assignment.userSubmissions.length - filterReturned(assignment.userSubmissions).length) / assignment.course.students.length * 100 + '%'">
        Abgegeben
        <span class="appear"><br>({{assignment.userSubmissions.length - filterReturned(assignment.userSubmissions).length}} von {{assignment.course.students.length}} Schülern)</span>
    </div>
    <div class="progress-bar bg-success" role="progressbar" [style.width]="filterReturned(assignment.userSubmissions).length / assignment.course.students.length * 100 + '%'">
        Korrigiert
        <span class="appear"><br>({{filterReturned(assignment.userSubmissions).length}} von {{assignment.course.students.length}} Schülern)</span>
    </div>
</div>