<div class="progress my-3">
    <div class="progress-bar bg-danger" role="progressbar" [style.width]="assignment.submissionsMissing.length / assignment.course.students.length * 100 + '%'">
        {{"pages.assignments.notSubmitted" | translate}}
        <span class="appear"><br>
            ({{"pages.assignments.thisManyStudents" | translate:{some: assignment.submissionsMissing.length, all: assignment.course.students.length} }})
        </span>
    </div>
    <div class="progress-bar bg-warning" role="progressbar" [style.width]="(assignment.userSubmissions.length - filterReturned(assignment.userSubmissions).length) / assignment.course.students.length * 100 + '%'">
        {{"pages.assignments.hasSubmitted" | translate}}
        <span class="appear"><br>
            ({{"pages.assignments.thisManyStudents" | translate:{some: assignment.userSubmissions.length - filterReturned(assignment.userSubmissions).length, all: assignment.course.students.length} }})</span>
    </div>
    <div class="progress-bar bg-success" role="progressbar" [style.width]="filterReturned(assignment.userSubmissions).length / assignment.course.students.length * 100 + '%'">
        {{"pages.assignments.returned" | translate}}
        <span class="appear"><br>
            ({{"pages.assignments.thisManyStudents" | translate:{some: filterReturned(assignment.userSubmissions).length, all: assignment.course.students.length} }})
        </span>
    </div>
</div>