<div class="w-100">
    <mat-form-field class="w-100">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let user of users" [removable]="removable" (removed)="remove(user)">
                {{user.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [placeholder]="placeholder" #userInput [formControl]="userCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                {{user.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>