<StackLayout class="fix-statusbar-margin">
    <ActivityIndicator [busy]="true" *ngIf="tryingToAutoLogin || loading"></ActivityIndicator>
    <StackLayout [formGroup]="loginForm" class="login-form" *ngIf="!tryingToAutoLogin" [visibility]="loading ? 'collapse' : 'visible'">
        <Image class="top-img" src="~/assets/logo.png"></Image>
        <Label text="SchoolSquirrel"></Label>
        <StackLayout class="form-label-group" [class.d-none]="autoDetectDomain">
            <TextField type="url" id="inputDomain" class="form-control" [hint]="'pages.login.domain' | translate" formControlName="domain" required autofocus [class.is-invalid]="submitted && loginForm.controls.domain.invalid" [class.is-valid]="loginForm.controls.domain.valid"></TextField>
            <Label class="invalid-feedback" *ngIf="submitted && loginForm.controls.domain.invalid" [text]="'errors.required' | translate"></Label>
        </StackLayout>

        <StackLayout class="form-label-group">
            <TextField type="text" id="inputName" class="form-control" [hint]="'general.name' | translate" formControlName="name" required [class.is-invalid]="submitted && loginForm.controls.name.invalid" [class.is-valid]="loginForm.controls.name.valid"></TextField>
            <Label class="invalid-feedback" *ngIf="submitted && loginForm.controls.name.invalid" [text]="'errors.required' | translate"></Label>
        </StackLayout>

        <StackLayout class="form-label-group">
            <TextField type="password" secure="true" id="inputPassword" class="form-control" formControlName="password" [hint]="'general.password' | translate" required [class.is-invalid]="submitted && loginForm.controls.password.invalid" [class.is-valid]="loginForm.controls.password.valid"></TextField>
            <Label class="invalid-feedback" *ngIf="submitted && loginForm.controls.password.invalid" [text]="'errors.required' | translate"></Label>
        </StackLayout>

        <StackLayout class="custom-control custom-checkbox mb-4">
            <Switch formControlName="rememberMe"></Switch>
            <Label class="custom-control-label" [text]="'pages.login.rememberMe' | translate"></Label>
        </StackLayout>
        <Button class="btn btn-lg btn-primary btn-block" [disabled]="loading" (tap)="onSubmit()" [text]="'pages.login.login' | translate"></Button>
    </StackLayout>
</StackLayout>