<div class="d-flex justify-content-center autoLoginSpinner" *ngIf="tryingToAutoLogin">
    <div class="spinner-border text-primary"></div>
</div>

<div class="" *ngIf="isElectron">
    <div class="row desktop w-100">
        <ul class="navbar nav w-100 d-flex justify-content-end app-region-drag">
            <li class="nav-icon app-region-no-drag">
                <a class="nav-link wi minimize" (click)="minWindow()">
                    <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E">
                </a>
            </li>

            <li class="nav-icon app-region-no-drag">
                <a class="nav-link wi maximize" (click)="maxWindow()">
                    <img *ngIf="isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E">
                    <img *ngIf="!isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E">
                </a>
            </li>

            <li class="nav-icon app-region-no-drag">
                <a class="nav-link wi close" (click)="closeWindow()">
                    <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E">
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="d-flex flex-column h-100">
    <section class="row bg-gradient py-5" *ngIf="!tryingToAutoLogin">
        <div class="col-12 col-md-6 my-5">
            <div class="row">
                <form class="form-signin text-white p-4 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto mb-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <h1 class="text-center mb-5">Anmelden
                        <app-help docs="userrole/login" white="true" large="true"></app-help>
                    </h1>
                    <div class="form-label-group" [class.d-none]="autoDetectDomain">
                        <input type="url" id="inputDomain" class="form-control" [placeholder]="'pages.login.domain' | translate" formControlName="domain" required autofocus [class.is-invalid]="submitted && loginForm.controls.domain.invalid" [class.is-valid]="loginForm.controls.domain.valid">
                        <label for="inputDomain">{{"pages.login.domain" | translate}}</label>
                        <div class="invalid-feedback">{{"errors.required" | translate}}</div>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="inputName" class="form-control" [placeholder]="'general.name' | translate" formControlName="name" required [class.is-invalid]="submitted && loginForm.controls.name.invalid" [class.is-valid]="loginForm.controls.name.valid">
                        <label for="inputName">{{"general.name" | translate}}</label>
                        <div class="invalid-feedback">{{"errors.required" | translate}}</div>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" formControlName="password" [placeholder]="'general.password' | translate" required [class.is-invalid]="submitted && loginForm.controls.password.invalid" [class.is-valid]="loginForm.controls.password.valid">
                        <label for="inputPassword">{{"general.password" | translate}}</label>
                        <div class="invalid-feedback">{{"errors.required" | translate}}</div>
                    </div>

                    <div class="bg-white p-2 text-dark mb-4 form-control">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rememberMe" formControlName="rememberMe">
                            <label class="custom-control-label" for="rememberMe">{{"pages.login.rememberMe" | translate}}</label>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-outline-light btn-block" type="submit" [disabled]="loading">{{"pages.login.login" | translate}} <span *ngIf="loading"
                            class="spinner-border spinner-border-sm mb-1"></span></button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-md-12 col-lg-10 mx-auto">
                    <img src="assets/teaching.svg" alt="" draggable="false" width="1659" height="1200" class="img-fluid mt-5">
                </div>
            </div>
        </div>
    </section>
    <div class="flex-grow-1"></div>
    <div class="row" *ngIf="!isElectron">
        <footer class="bg-dark text-white container-fluid">
            <div class="row p-3">
                <div class="col">
                    <span class="text-grey">SchoolSquirrel herunterladen: <a class="text-grey ml-4" href="https://github.com/SchoolSquirrel/releases/latest"><i class="fas fa-desktop"></i> Desktop</a> <a class="text-grey ml-4" href="https://github.com/SchoolSquirrel/releases/latest"><i class="fas fa-mobile-alt"></i> Smartphone</a></span>
                </div>
                <div class="col text-right">
                    <a class="text-grey" href="https://schoolsquirrel.github.io/SchoolSquirrel/about/">Hilfe</a>
                </div>
            </div>

            <div class="row darker p-3">
                <div class="col">
                    <div class="copyright">
                        © Copyright Hannes Rüger, 2019 - 2020
                    </div>
                    <div class="copyright2">
                        Made with <i class="fas fa-heart text-danger"></i>, Angular and unDraw.co
                    </div>
                </div>
                <div class="col text-right text-white">
                    <a href="https://github.com/SchoolSquirrel" target="_blank" rel="noopener" title="github.com"><i class="fab fa-github text-white fa-2x m-3"></i></a>
                    <a href="https://hub.docker.com/r/schoolsquirrel/schoolsquirrel" target="_blank" rel="noopener" title="hub.docker.com"><i class="fab fa-docker text-white fa-2x m-3"></i></a>
                </div>
            </div>
        </footer>
    </div>

</div>