<form class="form-signin col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto mt-5">

    <h3 class="text-center mb-5">SchoolSquirrel</h3>

    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail">Name</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
        <label for="inputPassword">Passwort</label>
    </div>

    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Eingeloggt bleiben</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>