/* Add mobile styles for the component here.  */

ActivityIndicator {
    margin-top: calc(40%);
}

.top-img {
    margin: 50 50;
    border-radius: 20%;
}

.login-form {
    padding: 50;
    background-image: url(~assets/login-bg-mobile.png);
}