<form class="form-signin col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto mt-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!tryingToAutoLogin">

    <h3 class="text-center mb-5">SchoolSquirrel</h3>
    <div class="form-label-group" [class.d-none]="autoDetectDomain">
        <input type="url" id="inputDomain" class="form-control" [placeholder]="'pages.login.domain' | translate" formControlName="domain" required autofocus [class.is-invalid]="submitted && loginForm.controls.domain.invalid" [class.is-valid]="loginForm.controls.domain.valid">
        <label for="inputDomain">{{"pages.login.domain" | translate}}</label>
        <div class="invalid-feedback">{{"errors.required" | translate}}</div>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputName" class="form-control" [placeholder]="'general.name' | translate" formControlName="name" required [class.is-invalid]="submitted && loginForm.controls.name.invalid" [class.is-valid]="loginForm.controls.name.valid">
        <label for="inputName">{{"general.name" | translate}}</label>
        <div class="invalid-feedback">{{"errors.required" | translate}}</div>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" formControlName="password" [placeholder]="'general.password' | translate" required [class.is-invalid]="submitted && loginForm.controls.password.invalid" [class.is-valid]="loginForm.controls.password.valid">
        <label for="inputPassword">{{"general.password" | translate}}</label>
        <div class="invalid-feedback">{{"errors.required" | translate}}</div>
    </div>

    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="rememberMe" formControlName="rememberMe">
        <label class="custom-control-label" for="rememberMe">{{"pages.login.rememberMe" | translate}}</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loading">{{"pages.login.login" | translate}} <span *ngIf="loading"
            class="spinner-border spinner-border-sm mb-1"></span></button>
</form>

<div class="d-flex justify-content-center autoLoginSpinner" *ngIf="tryingToAutoLogin">
    <div class="spinner-border text-primary"></div>
</div>