<div class="card p-2 my-1">
    <div class="d-flex justify-content-between">
        <h6><b>{{assignment.title}}</b></h6>
        <span class="text-muted float-right">{{'pages.assignments.due' | translate}} {{assignment.due | date}}, {{assignment.due | date:'shortTime'}} Uhr</span>
    </div>

    <div class="d-flex justify-content-between">
        <span class="w-100 text-truncate">{{assignment.content | htmlToText}}</span>
        <a [routerLink]="['/assignments', assignment.id]" class="stretched-link ml-5">{{'pages.assignments.view' | translate}}</a>
    </div>
</div>