<StackLayout class="fix-statusbar-margin" hideActionBar>
    <app-navbar [title]="course ? course.name : 'Loading'"></app-navbar>

    <Tabs selectedIndex="1" *ngIf="course">
        <TabStrip>
            <TabStripItem>
                <Label text="&#xf015;" class="fas"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="&#xf075;" class="far"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="&#xf15c;" class="far"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="&#xf0ae;" class="fas"></Label>
            </TabStripItem>
        </TabStrip>
        <TabContentItem>
            <GridLayout>
                <Label text="Overview" class="h2 text-center"></Label>
                <WebView [src]="'<pre>' + (course | json)+ '</pre>'"></WebView>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout>
                <Label text="Chat" class="h2 text-center"></Label>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout>
                <Label text="Files" class="h2 text-center"></Label>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout>
                <Label text="Assignments" class="h2 text-center"></Label>
            </GridLayout>
        </TabContentItem>
    </Tabs>

</StackLayout>
<app-full-page-loading *ngIf="!course"></app-full-page-loading>