@import "../../../variables.scss";
TabStrip {
    background-color: $white;
    color: $dark;
    un-selected-item-color: $dark;
    selected-item-color: $primary;
    highlight-color: $primary;
}

TabStripItem Label {
    font-size: 30;
}