<StackLayout class="">
    <app-navbar [title]="course ? course.name : 'Loading'"></app-navbar>

    <Tabs selectedIndex="0" *ngIf="course">
        <TabStrip>
            <TabStripItem>
                <Label text="comments" class="far"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="file-alt" class="far"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="tasks" class="fas"></Label>
            </TabStripItem>
        </TabStrip>
        <TabContentItem>
            <GridLayout>
                <app-navbar row="0" [title]="title" *ngIf="!hideHeader" isModal="true" (back)="goBack()"></app-navbar>
                <nativescript-squirrel-chat-ui hideHeader="true" [messages]="course.messages" [me]="authenticationService.currentUser" (messageSent)="onMessageSent($event)"></nativescript-squirrel-chat-ui>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <GridLayout>
                <Label text="Files" class="h2 text-center"></Label>
            </GridLayout>
        </TabContentItem>
        <TabContentItem>
            <StackLayout class="p-5">
                <app-assignment-item *ngFor="let assignment of (course ? course.assignments : [])" [assignment]="assignment"></app-assignment-item>
                <Label text="No assignments for this course!" *ngIf="!course.assignments.length"></Label>
            </StackLayout>
        </TabContentItem>
    </Tabs>

</StackLayout>
<app-full-page-loading *ngIf="!course"></app-full-page-loading>