<div *ngIf="!loading" class="h-100">
    <div class="py-3">
        <div class="btn-group btn-group-toggle" *ngFor="let category of categoryColors | keyvalue">
            <label class="btn mr-2" ngbButtonLabel [style.color]="isSelected(category.key) ? '#fff' : '#000'" [style.background-color]="isSelected(category.key) ? category.value : '#eee'">
                <input type="checkbox" ngbButton (click)="toggleCategory(category.key)">
                {{('pages.calendar.categories.' + category.key) | translate}}
                <i [class]="'ml-2 fas fa-' + (isSelected(category.key) ? 'times' : 'plus')"></i>
            </label>
        </div>
    </div>


    <div class="pb-3 calendar-holder">
        <ejs-schedule height="100%" locale="de" [firstDayOfWeek]="weekFirstDay" #calendar [eventSettings]="eventSettings" (actionComplete)="onChange($event)" (actionFailure)="onChange($event)" (cellClick)="onChange($event)" (cellDoubleClick)="onChange($event)"
            (created)="onChange($event)" (drag)="onChange($event)" (dragStart)="onChange($event)" (dragStop)="onChange($event)" (eventClick)="onChange($event)" (resizeStart)="onChange($event)" (resizeStop)="onChange($event)" (select)="onChange($event)" (eventRendered)="onEventRendered($event)"></ejs-schedule>
    </div>

</div>
<app-full-page-loading *ngIf="loading"></app-full-page-loading>