<div *ngIf="assignment">
    <div class="row mt-2">
        <div class="col col-12 col-md-8">
            <div class="card p-4">
                <h1>{{assignment.title}}</h1>
                <div [innerHTML]="assignment.content | safeUserHtml"></div>
            </div>
        </div>
        <div class="col col-12 col-md-4">
            <div class="mb-4">
                <h5>{{"pages.assignments.filesToView" | translate}}</h5>
                <app-file-list [files]="assignment.materials"></app-file-list>
            </div>
            <div>
                <h5>{{"pages.assignments.filesToEdit" | translate}}</h5>
                <app-file-list [files]="assignment.worksheets"></app-file-list>
                <!--context="assignments" type="worksheets" [id]="assignment.id"-->
            </div>
        </div>
    </div>

</div>
<app-full-page-loading *ngIf="!assignment"></app-full-page-loading>