<app-full-page-loading *ngIf="!assignment"></app-full-page-loading>

<div *ngIf="assignment && authenticationService.isTeacher()" class="row flex-wrap-none h-100 d-flex flex-column">
    <nav ngbNav #nav="ngbNav" class="nav-tabs modern-tabs pl-3" [activeId]="activeTab" (activeIdChange)="tabChanged($event)">
        <h4 class="pt-2 mr-4">{{assignment.title}}</h4>
        <ng-container ngbNavItem="student">
            <a ngbNavLink><i class="fas fa-user-graduate"></i> {{'pages.assignments.studentView' | translate}}</a>
            <ng-template ngbNavContent>
                <div class="container">
                    <ng-container *ngTemplateOutlet="assignmentTemplate"></ng-container>
                </div>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="teacher">
            <a ngbNavLink><i class="fas fa-chalkboard-teacher"></i> {{'pages.assignments.teacherView' | translate}}</a>
            <ng-template ngbNavContent>
                ToDo
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="submissions">
            <a ngbNavLink><i class="far fa-folder-open"></i> {{'pages.assignments.submissions' | translate}}</a>
            <ng-template ngbNavContent>
                ToDo
            </ng-template>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="flex-grow-1 overflow-auto"></div>
</div>

<div *ngIf="assignment && !authenticationService.isTeacher()">
    <ng-container *ngTemplateOutlet="assignmentTemplate"></ng-container>
</div>

<ng-template #assignmentTemplate>
    <div class="row pt-2">
        <div class="col col-12 col-md-8">
            <div class="card p-4">
                <h1>{{assignment.title}}</h1>
                <div [innerHTML]="assignment.content | safeUserHtml"></div>
            </div>
        </div>
        <div class="col col-12 col-md-4">
            <div>
                <h5>{{"pages.assignments.filesToView" | translate}}</h5>
                <app-file-list [files]="assignment.materials" context="assignments" type="materials" [id]="assignment.id"></app-file-list>
            </div>
            <hr>
            <div class="my-4">
                <h5>{{"pages.assignments.filesToEdit" | translate}}</h5>
                <app-file-list [files]="assignment.worksheets" context="assignments" type="worksheets" [id]="assignment.id"></app-file-list>
            </div>
            <ng-container *ngIf="!authenticationService.isTeacher()">
                <hr>
                <div>
                    <h5>{{"pages.assignments.myFiles" | translate}}</h5>
                    <app-file-list [files]="assignment.submissions" context="assignments" type="submissions" [id]="assignment.id" edit="true"></app-file-list>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>