<app-full-page-loading *ngIf="!assignment"></app-full-page-loading>

<div *ngIf="assignment && authenticationService.isTeacher()" class="row flex-wrap-none h-100 d-flex flex-column">
    <nav ngbNav #nav="ngbNav" class="nav-tabs modern-tabs pl-3" [activeId]="activeTab" (activeIdChange)="tabChanged($event)">
        <h4 class="pt-2 mr-4">{{assignment.title}}</h4>
        <ng-container ngbNavItem="student">
            <a ngbNavLink><i class="fas fa-user-graduate"></i> {{'pages.assignments.studentView' | translate}}</a>
            <ng-template ngbNavContent>
                <div class="container-fluid">
                    <ng-container *ngTemplateOutlet="assignmentTemplate"></ng-container>
                </div>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="teacher">
            <a ngbNavLink><i class="fas fa-chalkboard-teacher"></i> {{'pages.assignments.teacherView' | translate}}</a>
            <ng-template ngbNavContent>
                ToDo
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="submissions">
            <a ngbNavLink><i class="far fa-folder-open"></i> {{'pages.assignments.submissions' | translate}}</a>
            <ng-template ngbNavContent>
                <div class="h-100">
                    <div *ngIf="currentSubmissionIdx !== undefined" class="h-100 container-fluid">
                        <div class="row h-100">
                            <div class="h-100 col col-12 col-md-8">
                                <span class="text-muted mt-3" *ngIf="!selectedFileUrl">Keine Datei ausgewählt</span>
                                <app-edit-document *ngIf="selectedFileUrl" [config]="{action: 'edit', type: 'assignments', id: assignment.id, path: removePrefix(selectedFileUrl)}"></app-edit-document>
                            </div>
                            <div class="h-100 col col-12 col-md-4 overflow-auto p-0">
                                <div class="bg-light p-3">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <app-avatar class="mr-3 float-left" [user]="assignment.userSubmissions[currentSubmissionIdx].user"></app-avatar>
                                            <span>{{assignment.userSubmissions[currentSubmissionIdx].user.name}}</span><br>
                                        </div>
                                        <div class="float-right">
                                            <button class="btn py-0 my-0" (click)="currentSubmissionIdx = currentSubmissionIdx == 0 ? assignment.userSubmissions.length - 1 : currentSubmissionIdx - 1"><i class="fas fa-arrow-left"></i></button>
                                            <button class="btn py-0 my-0" (click)="currentSubmissionIdx = currentSubmissionIdx == assignment.userSubmissions.length - 1 ? 0 : currentSubmissionIdx + 1"><i class="fas fa-arrow-right"></i></button>
                                            <button class="btn py-0 my-0" (click)="currentSubmissionIdx = undefined"><i class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="text-muted">Abgegeben am {{assignment.userSubmissions[currentSubmissionIdx].date | date:"short"}} Uhr</span>
                                    </div>
                                </div>
                                <ngb-accordion ngbAccordion class="tree-view-accordion" [activeIds]="['panel-feedback', 'panel-message', 'panel-files']">
                                    <ngb-panel title="Feedback" id="panel-feedback">
                                        <ng-template ngbPanelContent>
                                            <div class="fix-accordeon-content-width" *ngIf="!assignment.userSubmissions[currentSubmissionIdx].returned">
                                                <textarea class="form-control" placeholder="Feedback eingeben" [(ngModel)]="feedback"></textarea>
                                                <button class="btn btn-outline-success float-right mt-3 mb-1" (click)="returnAssignment()">Zurückgeben</button>
                                            </div>
                                            <div class="fix-accordeon-content-width" *ngIf="assignment.userSubmissions[currentSubmissionIdx].returned">
                                                <span class="d-block">{{assignment.userSubmissions[currentSubmissionIdx].feedback}}</span>
                                                <span class="d-block text-muted" *ngIf="!assignment.userSubmissions[currentSubmissionIdx].feedback.trim()">
                                                    Kein Feedback geschrieben.
                                                </span>
                                                <span class="d-block mt-2 text-muted">Zurückgegeben am {{assignment.userSubmissions[currentSubmissionIdx].returned | date:"short"}}</span>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel title="Nachricht" id="panel-message">
                                        <ng-template ngbPanelContent>
                                            <div class="card">
                                                <div class="card-body p-1">
                                                    {{assignment.userSubmissions[currentSubmissionIdx].message}}
                                                    <span class="text-muted" *ngIf="!assignment.userSubmissions[currentSubmissionIdx].message.trim()">
                                                        Keine Nachricht geschrieben.
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel title="Dateien" id="panel-files">
                                        <ng-template ngbPanelContent>
                                            <app-file-list (fileSelected)="selectedFileUrl = $event.name" [files]="assignment.userSubmissions[currentSubmissionIdx].files" [selectMode]="true" context="assignments" type="submissions" [id]="assignment.id" [edit]="false"></app-file-list>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                            </div>
                        </div>
                    </div>

                    <div *ngIf="currentSubmissionIdx === undefined" class="p-3">
                        <h5>Abgegeben:</h5>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Benutzer</th>
                                    <th>Abgegeben am</th>
                                    <th>Nachricht</th>
                                    <th>Zurückgegeben</th>
                                    <th>Feedback</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let submission of assignment.userSubmissions, let idx = index" class="cursor-pointer" (click)="currentSubmissionIdx = idx">
                                    <td>
                                        <app-avatar class="mr-3" [user]="submission.user"></app-avatar>
                                        <span>{{submission.user.name}}</span>
                                    </td>
                                    <td>{{submission.date | date:"short"}} Uhr</td>
                                    <td>
                                        {{submission.message}}
                                        <span class="text-muted" *ngIf="!submission.message.trim()">
                                            Keine Nachricht geschrieben.
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <h5 class="mt-5">Nicht abgegeben:</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Benutzer</th>
                                    <th>Aktionen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of assignment.submissionsMissing">
                                    <td>
                                        <app-avatar class="mr-3" [user]="user"></app-avatar>
                                        <span>{{user.name}}</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary">Im Chat kontaktieren</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </ng-template>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="flex-grow-1 overflow-auto"></div>
</div>

<div *ngIf="assignment && !authenticationService.isTeacher()" class="h-100">
    <ng-container *ngTemplateOutlet="assignmentTemplate"></ng-container>
</div>

<ng-template #assignmentTemplate>
    <div class="row pt-2 h-100">
        <div class="h-100 col col-12 col-md-8 overflow-auto">
            <div class="card p-4">
                <h1>{{assignment.title}}</h1>
                <div [innerHTML]="assignment.content | safeUserHtml"></div>
            </div>
        </div>
        <div class="h-100 col col-12 col-md-4 overflow-auto">
            <ng-container *ngIf="!authenticationService.isTeacher()">
                <div>
                    <div class="alert alert-success" *ngIf="assignment.submitted">
                        <h5><i class="fas fa-check"></i> Aufgabe abgegeben</h5>
                        <small class="text-muted mb-2 d-block">Abgegeben am <i>{{assignment.submitted | date:"short"}} Uhr</i></small>
                        <button class="btn btn-outline-secondary" (click)="unsubmitAssignment()">Abgabe rückgängig machen</button>
                    </div>
                    <div class="alert alert-info" *ngIf="!assignment.submitted">
                        <h5>Aufgabe abgeben</h5>
                        <small class="text-muted d-block">Klicke auf den Button, um die Aufgabe abzugeben. Du kannst danach keine Dateien mehr ändern. Wenn Du möchtest, kannst du hier noch eine Nachricht hinzufügen:</small>
                        <textarea class="form-control mt-2" [(ngModel)]="submissionMessage" *ngIf="showSubmissionMessageField" placeholder="Nachricht eingeben"></textarea>
                        <div class="d-flex justify-content-between mt-2">
                            <button class="btn btn-outline-primary mr-1" *ngIf="!showSubmissionMessageField" (click)="showSubmissionMessageField = true"><i class="fas fa-pen"></i> Nachricht hinzufügen</button>
                            <button class="btn btn-outline-primary ml-auto" (click)="submitAssignment()"><i class="fas fa-paper-plane"></i> Abgeben</button>
                        </div>
                    </div>
                </div>
                <hr>
            </ng-container>
            <div>
                <h5>{{"pages.assignments.filesToView" | translate}}</h5>
                <app-file-list [files]="assignment.materials" context="assignments" type="materials" [id]="assignment.id"></app-file-list>
            </div>
            <hr>
            <div class="my-4">
                <h5>{{"pages.assignments.filesToEdit" | translate}}</h5>
                <app-file-list [files]="assignment.worksheets" context="assignments" type="worksheets" [id]="assignment.id"></app-file-list>
            </div>
            <ng-container *ngIf="!authenticationService.isTeacher()">
                <hr>
                <div>
                    <h5>{{"pages.assignments.myFiles" | translate}}</h5>
                    <app-file-list [files]="assignment.submissions" context="assignments" type="submissions" [id]="assignment.id" [edit]="!assignment.submitted" [viewOnlyMode]="!!assignment.submitted"></app-file-list>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>