<div>
    <div class="strength-meter">
        <div class="strength-meter-fill" [style.background]="getMeterFillColor(passwordStrength)" [attr.data-strength]="passwordStrength"></div>
    </div>
    <div class="password-feedback" *ngIf="enableFeedback && feedback">
        <span class="password-warning" *ngIf="feedback.warning">
          {{feedback.warning}}
        </span>
        <div class="password-suggestions" *ngIf="feedback.suggestions && feedback.suggestions.length > 0">
            <span *ngFor="let suggetion of feedback.suggestions">{{suggetion}}</span>
        </div>
    </div>
</div>