<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{"dialogs.selectUsers.selectUsers" | translate }}</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <app-full-page-loading *ngIf="!allUsers || !allUsers.length"></app-full-page-loading>
        <div *ngIf="allUsers && allUsers.length">
            <div *ngFor="let user of users">
                {{user.name}}
                <button class="btn" (click)="removeUser(user)"><i class="fas fa-times"></i></button>
            </div>
            <input class="form-control" [(ngModel)]="searchTerm">
            <div *ngFor="let user of getFilteredUsers()" (click)="users.push(user); searchTerm = ''">
                {{user.name}}
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close()">OK</button>
    </div>
</ng-template>
<button class="btn btn-outline-primary mr-3" (click)="modalService.open(content)">Auswählen</button>
<span>Aktuell {{users.length}} Benutzer ausgewählt</span>