<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{"dialogs.selectUsers.selectUsers" | translate }}</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <app-full-page-loading *ngIf="!allUsers || !allUsers.length"></app-full-page-loading>
        <div *ngIf="allUsers && allUsers.length" class="d-flex flex-column h-100">
            <div>
                <input ngbAutofocus placeholder="Suchen" class="form-control mb-3" [(ngModel)]="searchTerm">
                <app-user-chip *ngFor="let user of users" [user]="user" showTimes="true" (removed)="removeUser(user)"></app-user-chip>
            </div>
            <div class="flex-grow-1 overflow-auto mt-3">
                <div>
                </div>
                <div class="list-group pr-1">
                    <button *ngFor="let user of getFilteredUsers()" (click)="users.push(user); searchTerm = ''" class="list-group-item list-group-item-action pl-3">
                        <app-avatar class="mr-2" [user]="user"></app-avatar>
                        {{user.name}}
                    </button>
                </div>
                <span class="text-muted" *ngIf="getFilteredUsers().length == 0">Keine Benutzer gefunden!</span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close()">OK</button>
    </div>
</ng-template>
<button class="btn btn-outline-primary mr-3" (click)="openModal(content)">Auswählen</button>
<span>Aktuell {{users.length}} Benutzer ausgewählt</span>