<div class="row h-100" *ngIf="!loading">
    <div *ngIf="type == 'document' && onlyofficeConfig" class="w-100 h-100">
        <onlyoffice [config]="onlyofficeConfig"></onlyoffice>
    </div>
    <div *ngIf="type == 'image'" class="w-100 h-100">
        <img [src]="fileUrl">
    </div>
    <div *ngIf="type == 'video'" class="w-100 h-100">
        <video controls="controls">
            <source [src]="fileUrl">
        </video>
    </div>
    <div *ngIf="type == 'audio'">
        <audio controls="controls">
            <source [src]="fileUrl">
        </audio>
    </div>
    <div *ngIf="type == 'pdf'" class="w-100 h-100">
        <ngx-extended-pdf-viewer [textLayer]="true" [src]="fileUrl" useBrowserLocale="true"></ngx-extended-pdf-viewer>
    </div>
</div>
<app-full-page-loading *ngIf="loading"></app-full-page-loading>