<GridLayout rows="auto, *, auto" columns="*" class="fix-statusbar-margin" hideActionBar>
    <app-navbar row="0" col="0" [title]="'general.assignments' | translate"></app-navbar>
    <StackLayout row="1">
        <GridLayout rows="auto, auto" columns="20, *" class="p-x-10 p-y-15 bottom-divider" *ngFor="let course of courses">
            <Label row="0" col="0" class="h2 fas m-t-4 m-r-4" [text]="course.showAssignments ? '&#xf107;' : '&#xf105;'" (tap)="course.showAssignments = !course.showAssignments"></Label>
            <Label row="0" col="1" class="h2" (tap)="course.showAssignments = !course.showAssignments">
                <FormattedString>
                    <Span [text]="course.name" fontWeight="bold"></Span>
                    <Span [text]="' (' + course.assignments.length + ')'"></Span>
                </FormattedString>
            </Label>
            <StackLayout row="1" col="1" [visibility]="course.showAssignments ? 'visible' : 'collapse'">
                <GridLayout rows="auto, auto" , columns="*, auto" *ngFor="let assignment of course.assignments" (tap)="goToAssignment(assignment)">
                    <Label row="0" col="0" [text]="assignment.title"></Label>
                    <Label row="0" col="1" [text]="assignment.due | date"></Label>
                    <Label row="1" col="0" colspan="2" [text]="assignment.content"></Label>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <FAB row="2" col="0" text="&#xf067;" class="fab-button fas"></FAB>
</GridLayout>