<GridLayout rows="auto, *, auto" columns="*" class="">
    <app-navbar row="0" col="0" [title]="'general.assignments' | translate"></app-navbar>
    <StackLayout row="1">
        <GridLayout rows="auto, auto" columns="20, *" class="p-x-10 p-y-15 bottom-divider" *ngFor="let course of courses">
            <Label row="0" col="0" class="h2 fas m-t-4 m-r-4" [text]="course.showAssignments ? 'angle-down' : 'angle-right'" (tap)="course.showAssignments = !course.showAssignments"></Label>
            <Label row="0" col="1" class="h2" (tap)="course.showAssignments = !course.showAssignments">
                <FormattedString>
                    <Span [text]="course.name" fontWeight="bold"></Span>
                    <Span [text]="' (' + course.assignments.length + ')'"></Span>
                </FormattedString>
            </Label>
            <StackLayout row="1" col="1" [visibility]="course.showAssignments ? 'visible' : 'collapse'">
                <app-assignment-item [assignment]="assignment" *ngFor="let assignment of course.assignments"></app-assignment-item>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <FAB row="2" col="0" text="plus" class="fab-button fas" src="res://plus"></FAB>
</GridLayout>