@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-angular-filemanager/styles/bootstrap4.css';
@import '~@ctrl/ngx-emoji-mart/picker';
.toast {
    min-width: 20rem;
    .toast-header {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: #fff !important;
        .close {
            color: #fff;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
    }
}

html {
    height: 100vh;
    overflow: hidden;
}

.form-control-dark::placeholder {
    color: rgb(196, 196, 196);
}

ngb-typeahead-window {
    width: 50vw;
    .dropdown-item.active {
        background-color: rgb(224, 224, 224);
        color: #000;
    }
}

input.inline-edit,
select.inline-edit {
    width: unset;
}

.cursor-pointer {
    cursor: pointer;
}

.full-height-tab-content {
    height: calc(100% - 5rem);
    .tab-pane.active {
        height: 100%;
    }
}

ngb-typeahead-window.dropdown-menu.show {
    width: min-content;
}

.tab-pane.active {
    height: 100%;
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

ngb-accordion.tree-view-accordion {
    >.card {
        border: none;
        .card-header {
            padding: 0;
            background-color: transparent;
            border: none;
            .btn.btn-link {
                color: #555;
                font-weight: bold;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
                &:before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f107";
                    display: inline-block;
                    padding-right: 3px;
                    vertical-align: top;
                    font-weight: 900;
                }
                &.collapsed:before {
                    content: "\f105";
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .card-body {
            padding: 0px;
            padding-left: 2rem;
        }
    }
}

nav.nav-tabs.nav.modern-tabs {
    border-bottom: 1px solid lightgrey;
    .nav-link.nav-item {
        border: 0;
        color: #495057;
        &.active {
            border-bottom: 3px solid rgb(28, 106, 223);
            color: rgb(28, 106, 223);
        }
    }
}

span.emoji-pipe-image {
    margin-bottom: -0.45rem;
}

.scu-citation {
    span.emoji-pipe-image {
        margin-bottom: -0.2rem;
    }
}

editor {
    border: 1px solid transparent;
    &.is-valid,
    &.is-invalid {
        border-radius: 0.25rem;
    }
    &.is-valid {
        border-color: #28a745;
    }
    &.is-invalid {
        border-color: #dc3545;
    }
}


/* Material Icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v52/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}