@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/bootstrap4.css';
@import '~@ctrl/ngx-emoji-mart/picker';
.toast {
    min-width: 20rem;
    .toast-header {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: #fff !important;
        .close {
            color: #fff;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
    }
}

html {
    height: 100vh;
    overflow: hidden;
}

.form-control-dark::placeholder {
    color: rgb(196, 196, 196);
}

ngb-typeahead-window {
    width: 50vw;
    .dropdown-item.active {
        background-color: rgb(224, 224, 224);
        color: #000;
    }
}

input.inline-edit,
select.inline-edit {
    width: unset;
}

.cursor-pointer {
    cursor: pointer;
}

.full-height-tab-content {
    height: calc(100% - 5rem);
    .tab-pane.active {
        height: 100%;
    }
}

ngb-typeahead-window.dropdown-menu.show {
    width: min-content;
}

.tab-pane.active {
    height: 100%;
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


/* Material Icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v52/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}