<nav ngbNav #nav="ngbNav" class="nav-tabs pt-3">
    <ng-container ngbNavItem>
        <a ngbNavLink>{{"general.users" | translate}}</a>
        <ng-template ngbNavContent>
            <ejs-grid height="100%" *ngIf="allDataLoaded" class="h-100" locale="de-DE" [filterOptions]="filterOptions" #usersGrid [dataSource]="users" [allowSorting]="true" [allowFiltering]="true" [toolbar]="toolbar" [editSettings]="editSettings" (actionComplete)="usersActionComplete($event)">
                <e-columns>
                    <e-column field="role" headerText="Typ" editType="dropdownedit" [filterBarTemplate]='roleFilter' [edit]="roleParams">
                        <ng-template #template let-data>
                            <i [class]="'mr-2 fas fa-' + (data.role == 'student' ? 'user-graduate' : data.role == 'teacher' ? 'chalkboard-teacher' : 'user-shield')"></i> {{(data.role == "student" ? "general.student" : data.role == "teacher" ? "general.teacher"
                            : "general.admin") | translate}}
                        </ng-template>
                    </e-column>
                    <e-column field="name" headerText="Name"></e-column>
                    <e-column field="grade.name" headerText="Klasse" editType="dropdownedit" [filterBarTemplate]='gradeFilter' [edit]="gradeParams"></e-column>
                    <e-column field="createdAt" headerText="Hinzugefügt am" type="date" [allowEditing]="false" [format]="{ type: 'dateTime', format: 'dd.MM.yyyy hh:mm' }"></e-column>
                </e-columns>
            </ejs-grid>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>{{"general.grades" | translate}}</a>
        <ng-template ngbNavContent>
            <ejs-grid height="100%" *ngIf="allDataLoaded" class="h-100" locale="de-DE" #gradesGrid [dataSource]="grades" [allowSorting]="true" [allowFiltering]="true" [toolbar]="toolbar" [editSettings]="editSettings" (actionComplete)="gradesActionComplete($event)">
                <e-columns>
                    <e-column field="name" headerText="Name"></e-column>
                    <e-column field="usersFormatted" headerText="Schüler" [allowEditing]="false"></e-column>
                </e-columns>
            </ejs-grid>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>{{"general.courses" | translate}}</a>
        <ng-template ngbNavContent>


        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2 full-height-tab-content"></div>